
.button{
    position: absolute;
    right: 5%;
    bottom: 20px;
    transition: transform 0.3s ease;
}

a{
    background-color: transparent;
    border: none;
}

.button:hover {
    transform: scale(1.1);
    transition-duration: 0.3s; /* Aumenta o tamanho em 10% quando o mouse estiver sobre o botão */
}